<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Login Node </title>
    <!--inluye las direccion del bostrap-->
    <% include partials/head-logged %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1><span class="fa fa-lock"></span> Login or Register</h1>

          <!--ruta de login-->
          <a href="/login" class="btn btn-light">
            <span class="fa fa-user"></span> Local login
          </a>

          <!--ruta de register-->
          <a href="/signup" class="btn btn-light">
            <span class="fa fa-user"></span> Local Signup
          </a>
          <!--Google signup-->
        </div>
      </div>
    </div>
  </body>
  <h1>index</h1>
</html>
